
/* h1 {
    background-color: blueviolet;
} */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container {
    max-width: 800px;
    margin:20px auto;
    padding: 20px;
    background-color: bisque;
    border: 1px solid #5e1414;
    border-radius: 8px;
}
#title {
    color: #5e1414;
    font-size: 24px;;
    text-align: center;
}
.icerik{
    color: blue;
    font-size: 18px;
    line-height: 1.5;

}
.icerik:first-of-type{
    font-weight: bold;

}

h1,p{
    margin-bottom: 10px;
}